:root {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

#wallpaper {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  animation-name: fadein;
  animation-duration: 2s;
  /* filter: blur(4px); */
  z-index: -100;

  background-image: url("assets/blue-sky-clouds-aesthetic-wallpaper.webp");
  background-size: cover;
  filter: brightness(50%);
}

.center {
  display: flex;
  justify-content: center;
}

/* _________________________ screen dim _________________________ */

#black-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: black;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  pointer-events: none;
}
#black-overlay.off {
  opacity: 0;
}

/* _________________________ Loading _________________________ */

#loading-square-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 4px solid white;
  background-color: transparent;
  height: 100px;
  width: 100px;
  animation: loading-square-anim 5s infinite linear;
}

#loading-screen {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: skyblue;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
#loading-screen.on {
  transition: opacity 0.25s ease-in;
  opacity: 0.5;
}

@keyframes loading-square-anim {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* _________________________ notify.js _________________________ */

#notification {
  border: 4px solid white;
  height: 15%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  transition: transform 0.25s ease-out;
  transform: translateY(-100%) scale(0.9);

  background: linear-gradient(90deg, transparent, skyblue, transparent);
  background-size: 200% 100%;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3vh;
  text-align: center;
}
#notification.activate {
  transition: transform 0.25s ease-in;
  transform: translateY(0%) scale(1);
}

/* _________________________ ShopCore _________________________ */

input {
  font-size: large;
  width: 15%;
  margin-right: 5%;
}

#basket {
  max-height: 20vh;
  overflow-y: scroll;
}

#product_search {
  width: 90%;
}

.side-pan {
  width: 30%;
  position: fixed;
  top: 10%;
  right: 0;
}

.typical_container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2.5%;
  border-radius: 12px;
  padding: 2.5%;
  text-align: center;
}

#help {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2.5%;
  border-radius: 12px;
  width: fit-content;
  padding: 2.5%;
  text-align: center;
}
.icon {
  height: 10vh;
}

#categories,
#editor_content {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  width: 70%;
  text-align: center;
}
.sub_category {
  border: solid white 2px;
  border-radius: 12px;
  margin: 2.5%;
}

.product {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2.5%;
}

.quantity {
  font-size: xx-large;
}

.basket_content_product {
  background-color: rgba(0, 0, 0, 0.5);
}

#splash {
  text-align: center;
}

.splash_txt {
  font-size: 5vh;
}
.splash_txt.slide_L {
  animation: fadeIn 1s forwards, slide_L 1s forwards;
}
.splash_txt.slide_R {
  animation: fadeIn 1s forwards, slide_R 1s forwards;
}

#lookup.play {
  animation: tilt 1s ease-in-out 1;
}

#PRINT_LIST_CONTENT {
  text-align: center;
  font-size: larger;
}

#print_leave {
  text-align: center;
  font-size: xx-large;
  margin: 5%;
}

@keyframes search_highlight {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide_L {
  from {
    color: white;
    transform: translateX(5vw) scale(1) rotate(-10deg);
  }
  to {
    color: #646cff;
    transform: translateX(-5vw) scale(2) rotate(10deg);
  }
}

@keyframes slide_R {
  from {
    color: white;
    transform: translateX(-5vw) scale(1) rotate(10deg);
  }
  to {
    color: #646cff;
    transform: translateX(5vw) scale(2) rotate(-10deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
