:root {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #f6f6f6;
}

br {
  display: block;
  margin: 1.5vh 0;
  content: " ";
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  outline: none;
  margin: 1%;
  padding: 1%;
  border: none;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

.btn_recommended {
  height: 2vh;
  width: fit-content;
  background-color: green;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
    /* font-size: 1.5vh; */
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

@media only screen and (max-width: 620px) {
  h1 {
    font-size: 1.5vh;
  }

  #profile_card {
    width: 80vw !important;
  }

  #reading_window {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }

  #reading_content {
    width: 100% !important;
  }

  #reading_content img {
    height: 25vh !important;
  }
  #end_containers {
    flex-direction: column !important;
  }
  #end_containers > div {
    width: 100% !important;
  }
}

#wallpaper {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  animation-name: fadein;
  animation-duration: 2s;
  /* filter: blur(4px); */
  z-index: -100;

  background-image: url("assets/blue-sky-clouds-aesthetic-wallpaper.webp");
  background-size: cover;
  filter: brightness(50%);
}

.center {
  display: flex;
  justify-content: center;
}

#bg {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  animation-name: fadein;
  animation-duration: 2s;
  /* filter: blur(4px); */
  z-index: -100;
  /* animation: zoomInOut 10s infinite; */
}

.container {
  /* background-color: skyblue; */
  opacity: 0.9;
  padding: 5px;
  text-align: center;
  transition: transform 0.2s ease;
}

.container:hover {
  transition: transform 0.2s ease;
  border-color: #535bf2;
  transform: scale(0.9);
}

.outline {
  margin: 4px;
  box-shadow: 0 0 5px blue;
  /* border-radius: 12px; */
  border-width: 2px;
  border-color: blue;
  border-style: solid;
  /* background-color: skyblue; */
  backdrop-filter: blur(10px);
  width: fit-content;

  border-image: linear-gradient(90deg, blue, violet);
  border-image-slice: 1;
  animation: gradientAnimation 4s linear infinite;
}

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.hoz_space {
  margin-right: 5px;
}

.centered_text {
  text-align: center;
}

#hero {
  margin: 1%;
  width: fit-content;
  backdrop-filter: blur(10px);
  border: solid 2px white;
  text-align: center;
}

#profile_card {
  padding: 1%;
  /* width: 40vw; */
  min-width: 60vw;
}

#pfp {
  margin: 1%;
  height: 37.5vh;
}

#facts {
  font-size: large;
  font-weight: bold;
}
#facts > p {
  margin: 1%;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

table {
  padding: 1%;
  /* width: 40vw; */
  min-width: 60vw;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid white;
}
th,
td {
  padding: 0.5%;
  text-align: center;
  font-size: large;
}

.post_section {
  margin: 1%;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.1);
  z-index: 0;
}

.post_section.inner {
  overflow-x: auto;
  overflow-y: hidden; /* zoom effect triggers this */
}

.post_tile {
  /*
  max-height: 30vh;
  max-width: 50vh;
  */
  min-height: 20vh;
  min-width: 20vw;
  font-size: small;
}

.post_thumbnail {
  height: 15vh;
}

.post_img {
  height: 15vh;
}

#reading_window {
  position: fixed;

  /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  border-radius: 16px;
  border: solid white 1px;
  */

  left: 1vw;
  right: 1vw;
  top: 1vh;
  bottom: 1vh;

  border: 1px solid white;

  padding: 2%;
  /* backdrop-filter: blur(10px); */
  z-index: 1;

  /*
  background-image: url("assets/paper.jpg");
  background-size: cover;
  */
  /*
  background-color: beige;
  color: black;
  */
  background-color: rgb(24, 26, 27);
  color: white;
}

#reading_content {
  /* positioning */

  position: relative;
  margin: auto; /* auto centers */
  width: 80%;

  height: 90%; /* 85%, any higher, reader buttons leak */

  padding-left: 1%;
  padding-right: 1%;

  /*white-space: pre-wrap; NEVER USE THIS */
  word-wrap: break-word;
  overflow: auto;
  overflow-wrap: break-word;
}

#reading_content img {
  height: 50vh;
}

#reading_window button {
  font-size: 2vh;
  min-height: fit-content;
  min-width: fit-content;
  height: 5%;
  width: 10%;
}

#recommended_content a {
  margin: 1vh;
  font-size: small;
  color: white;
}

#recommended_content a:hover {
  color: #535bf2;
}

.socials {
  text-align: center;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 0.5%;
  width: fit-content;
  border-radius: 16px;
}

.socials * {
  margin-left: 1vw;
  margin-right: 1vw;
}

.socials img {
  height: 28px;
  width: 28px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 7.5%;
}

#end_containers {
  display: flex;
  flex-direction: row;
}

#end_containers > div {
  width: fit-content;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0.5vw;
  margin: 0.5vw;
  font-size: large;
  width: 100%;
}

/* Loading */
#loading-square-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 4px solid white;
  background-color: transparent;
  height: 100px;
  width: 100px;
  animation: loading-square-anim 5s infinite linear;
}

#loading-screen {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: skyblue;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}
#loading-screen.on {
  transition: opacity 0.25s ease-in;
  opacity: 0.5;
}

@keyframes loading-square-anim {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* notify */

#notification {
  border: 4px solid white;
  height: 15%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  transition: transform 0.25s ease-out;
  transform: translateY(-100%) scale(0.9);

  background: linear-gradient(90deg, transparent, skyblue, transparent);
  background-size: 200% 100%;
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3vh;
  text-align: center;
}
#notification.activate {
  transition: transform 0.25s ease-in;
  transform: translateY(0%) scale(1);
}

/* _________________________ ShopCore _________________________ */

#side-pan {
  width: 30%;
}

.typical_container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2.5%;
  border-radius: 12px;
  width: 90%;
  padding: 2.5%;
  text-align: center;
}

#help {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 2.5%;
  border-radius: 12px;
  width: fit-content;
  padding: 2.5%;
  text-align: center;
}
.icon {
  height: 10vh;
}

#categories {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  width: 70%;
  text-align: center;
}
.sub_category {
  border: solid white 2px;
  border-radius: 12px;
  margin: 2.5%;
}
.sub_category > p {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2.5%;
  border-radius: 12px;
}

.basket_content_product {
  background-color: rgba(0, 0, 0, 0.5);
}

/* animations */

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(125%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes moveAndRotate {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(25px) rotate(-2.5deg);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(-25px) rotate(2.5deg);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(2);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
